/*
Developer name: Jeandre Melaria
Project title: GoTo
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap, Font-awesome
IDE tool: Visual Studio Code
Database:  -
Project type: Dashboard.
File created date: 25.01.2018
Last modified: 
*/
.header {
  height: 3.1rem;
  background-color: #4F80E1;
  padding: 0.3rem;
}
.header .header__logo {
  background-color: #3A5EA6;
  top: -0.27rem;
  height: 3.1rem;
}
.header .header__logo--style {
  color: white;
  margin-left: 2.3rem;
  padding-top: 0.5rem;
}
.header .header__menuToggle .header__menuToggle--icon {
  padding-top: 0.7rem;
}
.header .nav__menuLinks--item {
  padding-top: 0.4rem;
}
.fa {
  color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
