/*
Developer name: Jeandre Melaria
Project title: GoTo
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap, Font-awesome
IDE tool: Visual Studio Code
Database:  -
Project type: Dashboard.
File created date: 25.01.2018
Last modified: 
*/
.header {
  top: 0;
  background-color: #4F80E1;
  height: 3.1rem;
  padding: 0.5rem;
}
.header .header__logo {
  margin-top: 0.3rem;
  margin-left: 3.5rem;
}
.header .header__logo--style {
  color: white;
}
* {
  box-sizing: border-box;
}
