/*
Developer name: Jeandre Melaria
Project title: GoTo
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap, Font-awesome
IDE tool: Visual Studio Code
Database:  -
Project type: Dashboard.
File created date: 25.01.2018
Last modified: 
*/

// === === Table of contents === === //
// - Variables
// - Functions
// - Mixings
// - General 
// - Media queries

// === === Variables === === //
// Color
@blueMid:#4F80E1;
@blueDark:#3A5EA6;
@greyDark:#292C44;
@white:white;
@cyan:#00CDCD;
@darkorange:#FF8C00;
@green:#008000;
@red:#FF0000;

// Font
@fontSize:2rem;
@width:1.5rem;
@height:3.1rem;
@padding:0.5rem;
@margin:1rem;

// === === Functions === === //

// === === Mixings === === //
.header {
  background-color:@blueMid;
  height: @height;

  .header__logo {
    background-color:@blueDark;
    padding-top:(@padding - 0.2rem);
    height:@height;

    &--style {
      color:@white;
    }

  }

  .header__menuToggle {
    background-color:@blueMid;
    width: (@width * 2);
    height:@height;
    padding-top:(@padding + 0.3rem);
    &:hover {
      background-color:@blueDark;
    }

    .header__menuToggle--icon {
      padding-left:0.1rem;
    }
  }

}

.fa {
  color:@white;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
 
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .header__menuToggle--icon {
    margin-left:0.5rem;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
  .header__menuToggle--icon {
    margin-left:1rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
  .header__menuToggle--icon {
    margin-left:2rem;
  }
}
