/*
Developer name: Jeandre Melaria
Project title: GoTo
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap, Font-awesome
IDE tool: Visual Studio Code
Database:  -
Project type: Dashboard.
File created date: 25.01.2018
Last modified: 
*/

// === === Table of contents === === //
// - Variables
// - Functions
// - Mixings
// - General 
// - Media queries

// === === Variables === === //
// Color
@blueMid:#4F80E1;
@blueDark:#3A5EA6;
@white:white;

// Font
@fontSize:2rem;

@height:3.1rem;
@padding:0.5rem;
@margin:1rem;

// === === Functions === === //

// === === Mixings === === //
.header {
  height:@height;
  background-color:@blueMid;
  padding:(@padding - 0.2rem);
  
  .header__logo {
    background-color:@blueDark;
    top:-0.27rem;
    height:@height;
    &--style {
      color:@white;
      margin-left:(@margin + 1.3rem);
      padding-top:(@padding);
    }
  }
 
  .header__menuToggle {
   .header__menuToggle--icon {
     padding-top:(@padding + 0.2rem);
    
   }
  }

  .nav__menuLinks--item {
    margin:-(@margin - 0.5rem) @margin 0 (@margin - 0.5rem);
    float: right;

    .nav__menuLinks--itemImg {
      width: 1rem;
    }
  }
  }


.fa {
  color:@white;
}
.badge {
  display: block;
  position: relative;
  top:-1.6rem;
  margin-left:1rem;
  font-size:0.6rem;
}
.badge-warning {
  margin-left:0.8rem;
}
// === === General === === //
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


// === === Media queries === === //